<!DOCTYPE html>
<html>
<head>
    <title>Live Heartbeat</title>
    <meta http-equiv="refresh" content="5"> <!-- هر ۵ ثانیه صفحه رفرش میشه -->
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h2>Live Heartbeat Data</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Date</th>
                <th>Heart Beats</th>
                <th>Heartbeat Count Number</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.user_id }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.heart_beats }}</td>
                    <td>{{ row.heartbeats_count_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
